#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height:960px;
    width:960px;
    margin: auto;
  }
  
  .square {
    border: 1px solid #ddd;
    text-align: center;
   
  }

  .square-colour {
    background-color: black;
    border-color: black;
  }


  